/Code/GSR/obj
/Code/GSR/GSR_Model/obj
/Code/GSR/GSR_Model/bin
/Code/GSR/GSR_Service/obj
/Code/GSR/GSR_Service/bin
/Code/GSR/GSR_Tests/obj
/Code/GSR/GSR_Tests/bin
/Code/GSR/GSR_WebApi/bin
/Code/GSR/GSR_WebApi/obj
/Code/GSR/GSR/obj
/Code/GSR/GSR/bin
